
@font-face {
    font-family: 'TK-ARCHITECT';
    src: url('./TK-ARCHITECT.ttf') format('truetype');
  }

h1, h2, h3, p {
    font-family: 'TK-ARCHITECT', sans-serif;
  }
  
  
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px;
  
  }
  .about {
    min-height: calc(100vh - 250px);
    display: flex;
    align-items: center;
    padding: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

  }
  .container.about-container {
    padding-top: 50px; /* adjust top padding as needed */
    padding-bottom: -100px; /* adjust bottom padding as needed */
  }
  
  .container {
    font: "Avenir", Helvetica, Arial, sans-serif;
    display: flex;
    max-width: 1100px;
    margin: auto;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  
@media (max-width: 767px) {
    .image-container {
      justify-content: flex-end;
      margin-top: 1rem;
      min-height: 200px;
    }
  }
  
  .image-container {
    display: flex;
    max-width: 800px; /* increase max-width to make it longer */
    margin: 0 auto;
    justify-content: flex-end; /* move container to the right */
  }
  
  .custom-img-size {
    width: 80%;
  }
  
  .image-container img {
    height: 100%;
    width: 100%; /* set image width to 100% to fill container */
  }
  
  
  .navbar {
    font-family: 'TK-ARCHITECT', sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    color: #34383c;
    background-color: rgb(247, 254, 254);
    box-shadow:
    inset 500px 0 120px #E9F1FA,  
    inset -200px 0 120px rgb(247, 242, 242); 
    z-index: 1;
  }

  .navbar-nav .nav-link {
    margin-right: 10px;
  }
  
  .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px !important;
  }
  