body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  background-color: rgb(245, 238, 238);
  box-shadow:
  inset 60px 0 120px rgb(220, 244, 167),  
  inset -60px 0 120px #8C92AC; 
  font-family: 'TK-ARCHITECT', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'TK-ARCHITECT';
  src: url('./styles/TK-ARCHITECT.ttf') format('truetype');
}

h1, h2, h3, h4, p {
  font-family: 'TK-ARCHITECT', sans-serif;
}
.page-header {
  font-size: 2.5rem;
  padding: 3px;
  color: #34383c;
  margin-bottom: 3rem;
  margin-top: 3rem;
  background-color: rgb(247, 254, 254);
  box-shadow:
  inset 500px 0 120px #E9F1FA,  
  inset -200px 0 120px rgb(237, 218, 218); 
}

footer {
  background-color: bisque !important;
}
.about {
  margin-top: -10rem;
}
